client/node_modules/
client/.project
client/.settings/
client/.vscode/
client/package-lock.json
client/dist/
server/node_modules/
server/.project
server/.settings/
server/.vscode/
server/package-lock.json
server/dist/
*.log
.vscode/
.gradle/
filesToServer/
build/
*.orig
node_modules/
package-lock.json

.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/com.genuitec.eclipse.modernweb.common.core.prefs
.settings/.jsdtscope
.project
