<div class="container-fluid">
	<div class="row">
		<img class="col-sm-12" src="../../../assets/img/SmallFleet.png"
			style="padding: 0;">
	</div>
	<table class="table table-borderless table-condensed"
		style="position: relative !important; padding: 50px;">
		<tbody>
			<tr>
				<br>
				<br>
			<tr>
			<tr>
				<td style="border-style: none" class="col-sm-4 text-sm-center"><i
					class="fa fa-dollar"></i></td>
				<td style="border-style: none" class="col-sm-4 text-sm-center"><i
					class="fa fa-truck"></i></td>
				<td style="border-style: none" class="col-sm-4 text-sm-center"><i
					class="fa fa-check-square"></i></td>
			</tr>
			<tr>
				<td style="border-style: none; font-size: 20px;"
					class="col-sm-4 text-sm-center" translate>{{'welcomePage.excessCoverage.excessCoverage'}}</td>
				<td style="border-style: none; font-size: 20px;"
					class="col-sm-4 text-sm-center" translate>{{'welcomePage.targetClasses.targetClasses'}}</td>
				<td style="border-style: none; font-size: 20px;"
					class="col-sm-4 text-sm-center" translate>{{'welcomePage.submissionChecklist.submissionChecklist'}}</td>
			</tr>
			<tr>
				<td style="border-style: none" class="col-sm-4">
					<div class="col-sm-3"></div>
					<div class="col-sm-9">
						<ul>
							<li translate>{{'welcomePage.excessCoverage.bulletOne'}}</li>
							<li translate>{{'welcomePage.excessCoverage.bulletTwo'}}</li>
							<li translate>{{'welcomePage.excessCoverage.bulletThree'}}</li>
							<li translate>{{'welcomePage.excessCoverage.bulletFour'}}</li>
						</ul>
					</div>
				</td>
				<td style="border-style: none" class="col-sm-4">
					<div class="col-sm-3"></div>
					<div class="col-sm-9">
						<ul>
							<li translate>{{'welcomePage.targetClasses.bulletOne'}}</li>
							<li translate>{{'welcomePage.targetClasses.bulletTwo'}}</li>
							<li translate>{{'welcomePage.targetClasses.bulletThree'}}</li>
							<li translate>{{'welcomePage.targetClasses.bulletFour'}}</li>
						</ul>
					</div>
				</td>
				<td style="border-style: none" class="col-sm-4">
					<div class="col-sm-1"></div>
					<div class="col-sm-11">
						<ul>
							<li translate>{{'welcomePage.submissionChecklist.bulletOne'}}</li>
							<li translate>{{'welcomePage.submissionChecklist.bulletTwo'}}</li>
							<li translate>{{'welcomePage.submissionChecklist.bulletThree'}}</li>
							<li translate>{{'welcomePage.submissionChecklist.bulletFour'}}</li>
							<li translate>{{'welcomePage.submissionChecklist.bulletFive'}}</li>
							<li translate>{{'welcomePage.submissionChecklist.bulletSix'}}</li>
							<li translate>{{'welcomePage.submissionChecklist.bulletSeven'}}</li>
							<li translate>{{'welcomePage.submissionChecklist.bulletEight'}}</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td style="border-style: none" class="col-sm-4"></td>
				<td style="border-style: none" class="text-sm-center col-sm-4">
					<button routerLink="/dashboard/quest" class="btn btn-primary "
						type="button">Start Quote</button>
					<br>
				</td>
				<td style="border-style: none" class="col-sm-4"></td>
			</tr>
		</tbody>
	</table>
</div>